@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-slate-900 text-gray-800 dark:text-gray-100;

  background-image: url("https://www.transparenttextures.com/patterns/white-wall-3.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 600px;
}